<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>지포</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							
							<!-- Logo -->
								<a href="/index" class="logo">
									<span class="symbol"><img src="images/JIPO.png" alt="" /></span><span class="title">JIPO</span>
								</a>
								
							<!-- Extra Point -->
								<a href="/mydonation" class="ExtraPoint">
									<p class="title" align="right">지곡 포인트 </p>
								</a>
								
							<!-- Reward -->
								<a href="/reward" class="Reward">
									<p class="title" align="right">리워드 </p>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/mydonation">기부금액 확인</a></li>
							<li><a href="/generic">이용자 목록</a></li>
							<li><a href="/login">로그인</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>투명한 기부의 시작,&ensp;지포</a>.</h1>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/no_fan.png" alt="" />
									</span>
									<a href="/donation">
										<h2>선풍기 하나로 여름 나기가 힘들어요.</h2>
										<div class="content">
											<p>지곡동 경로당에는 선풍기가 없어 모두가 더운 여름을 나고 있습니다.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/LK.png" alt="" />
									</span>
									<a href="/generic">
										<h2>배가 고파요.</h2>
										<div class="content">
											<p>하교 후, 돌아간 집에 먹을 것이 없는 수정이는 오늘도 컵라면 하나로 저녁을 때웁니다.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/R.jpg" alt="" />
									</span>
									<a href="/generic">
										<h2>생리대가 필요해요.</h2>
										<div class="content">
											<p>깔창생리대, 생리대를 살 수 없어 신발 깔창을 사용하고 있습니다.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="images/df.jpg" alt="" />
									</span>
									<a href="/generic">
										<h2>집에 가는 게 제일 무서워요.</h2>
										<div class="content">
											<p>늘어나는 아동학대, 더 이상 남의 이야기가 아닙니다.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images/mask.png" alt="" />
									</span>
									<a href="/generic">
										<h2>코로나로부터 보호해 줄 마스크가 없어요.</h2>
										<div class="content">
											<p>외국인 노동자 크리스는 마스크를 구할 수 없어 일주일동안 같은 마스크를 사용합니다.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images/dog.jpg" alt="" />
									</span>
									<a href="/generic">
										<h2>집으로 돌아가고 싶어요.</h2>
										<div class="content">
											<p>오늘도 유기견 보호소에 5마리의 유기견이 왔습니다.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script src="js/bootstrap.bundle.min.js"></script>

	</body>
</html>